.wrapper {
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
}

.answers {
    /* border: 1px solid red; */
    border-left: 2px solid #ffecc9;
    margin-top: 1em;
    padding-left: 300px;
}

.list {
    display: flex;
    flex-direction: column-reverse;
    gap: 3.5em;
}

.list li {
    list-style-type: none;
}


.answerCreate {
    width: 700px;
    margin-left: auto;
    text-align: left;
    font-size: 20px;
    background-color: #fde5c7;
    padding: 40px 50px;

    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block: 4em;
}


.answerCreate h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
}

.answerWrite {
    height: 160px;
    resize: vertical;
    font-size: .8em;
    padding: .8em 1em;
    border: 1px solid #FAF5E7;
    min-height: 1.3em;
    outline: none;
    transition: border .2s;
}

.answerWrite:hover,
.answerWrite:focus {
    /* outline: none; */
    border: 1px solid #ffd665;
}

.post {
    width: fit-content;
    padding: .3em .6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Roboto;
    font-size: .9em;
    font-weight: 500;
    background-color: #f28320;
    color: white;
}

.post[disabled] {
    opacity: .5;
    cursor:not-allowed;
}

.error {
    font-size: 18px;
    color: rgb(169, 2, 2)
}