.wrapper {
    margin: 0 auto;
    max-width: 700px;

    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 20px;
}

.wrapper label {
    color: #404040;
}

.input {
    color: #404040;
    padding: .2em .5em;
}

.ingredients {
    background-color: #d6ffce;
    padding: 1.5em 2em 2em;
}

.addButton {
    background-color: darkgreen;
    color: #eee;
}

.addButton:hover {
    background-color: darkolivegreen;
}

.ingrWrapper {
    display: flex;
    gap: 1em;
}

.name,
.quantity {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.ingredients .name {
    /* flex: 0 0 65%; */
    width: 60%;
}

.instructions .name {
    width: 100%;
}

.quantity {
    /* flex: 0 0 15%; */
    width: 30%;
}

.addButton {
    flex: 1 0 10%;
}

.instructions {
    background-color: rgb(255, 207, 206);
    padding: 1.5em 2em 2em;
}

.instrWrapper {
    display: flex;
    gap: 1em;
}

.instrWrapper .addButton {
    flex: 0 0 10%;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.buttons button {
    width: 8em;
    padding: .3em .8em;
}

.submitButton {
    background-color: rgb(220, 253, 170);
    border: 1px solid rgb(220, 253, 170);
    transition: transform .2s;
}

.submitButton:hover {
    /* border: 1px solid rgb(180, 255, 68); */
    transform: scale(1.05);
}

.backButton {
    background-color: #ffc0b7;
    border: 1px solid #ffc0b7;
    transition: transform .2s;
}

.backButton:hover {
    /* border: 1px solid #ff6d57; */
    transform: scale(1.05);
}



.ingredientList,
.instructionList {
    padding-block: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    text-align: left;
}

.instructionList {
    flex-direction: column;;
}

.li {
    list-style-type: none;
    width: 100%;
    background-color: #fffce5;
    padding: .4em .6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s ease-out;
}

.li span {
    text-wrap: wrap;
    width: 85%;
}

.removeButton {
    cursor: pointer;
    background-color: #ff686b;
    border: none;
    color: white;
    padding: 0.2em 0.5em;
    border-radius: 5px;
    font-size: 0.8em;
}

.removeButton:hover {
    background-color: #db575a;
}

.fade-out {
    opacity: 0;
}

.err {
    color: darkred;
    font-size: .9em;
}