.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    /* font-size: 22px; */
}

.sections {
    display: flex;
    font-size: 22px;
    flex-direction: column;
    gap: 2em;
    max-width: 1000px;
    margin: 4em auto;
}

.section {
    max-width: 670px;
    border-radius: 50%;
    padding: 4em;
    background-color: rgb(254, 240, 255);
}

.section h2 {
    margin-bottom: 1em;
}

.section:nth-child(2n){
    margin-left: auto;
    background-color: rgb(244, 240, 255);
}

.info {
    font-size: 44px;
    margin-bottom: 1em;
}