@import url(https://db.onlinewebfonts.com/c/4aedb9283857944b5870ed258b2904e6?family=Handelson+W00+Three);

.header {
    font-family: Roboto, sans-serif;
    height: 90px;
    font-weight: 500;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-top: .25em;
    margin-bottom: 1em;
    text-transform: uppercase;

}

.wrapper {
    width: 100%;
    display: flex;
    gap: 1.7em;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    flex: 0 1 15%;
    height: 3.5em;
    width: auto;
    display: flex;
    align-items: center;
    font-size: 46px;
    font-family: "Handelson W00 Three", serif;
    text-transform: capitalize;
}

.logo span {
    font-size: 46px;
}

.vegie {
    color: var(--main-green-color)
}

.header .nav {
    flex: 0 1 20%;
}

.header .img {
    height: 100%;
    width: auto;
}

.header .ul {
    display: flex;
    gap: 1em;
}

.header .ul li {
    list-style-type: none;
    font-size: .8em;
    font-weight: 350;
}

.header a {
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    transition: border-color .25s;
}

.header a:hover {
    border-bottom-color: black;
}

.header .query {
    flex: 1 0 25%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    font-size: .8em;
    outline: unset;
    padding: .4em 1.1em;
    border-radius: 0em;
    transition: border-color .25s;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
    border-radius: 8px;
    /* transition: all 0.3s ease; Adjust as needed */
}

.query:hover,
.query:focus {
    border-color: var(--main-green-color)
}

.header .buttonWrapper {
    flex: 0 1 10%;
    display: flex;
    gap: .5em;
}


.buttonWrapper>* {
    background-color: var(--main-green-color);
    color: white;
    border-color: transparent;
    padding: .35em .75em;
    font-size: .8em;
    border-radius: .1em;
    will-change: filter;
    transition: filter .25s;
    transition: all .2s;
    letter-spacing: normal;
    padding-inline: 1.5em;
    white-space: nowrap;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
    border-radius: 8px;

}

.buttonWrapper>*:hover {
    background-color: var(--dark-green-color);
    filter: drop-shadow(0 0 0 .5em var(--dark-green-color));
    border-color: var(--dark-green-color);
    transform: scale(1.1);
}

.signin {
    background-color: rgb(120, 209, 212);
}

.signin:hover {

    border-color: #348073;
    background-color: #348073;
}

.horizontalBreak {
    height: 40%;
    width: 3px;
    background-color: var(--light-gray);
    border-radius: 20%;
}

.father {
    position: relative;
    display: flex;
    align-items: center;
}

.dropdown {
    display: flex;
    text-align: right;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 22px;
    padding: .5em;
    width: 7em;
    right: 0;
    position: absolute;
    top: 2.8em;

    border: 2px solid #E8E9EE;

    z-index: 5;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, .24);
}

.dropdown:hover {
    box-shadow: 0 2px 9px 2px rgba(64, 60, 67, .24);
}

.dropdown li {
    font-size: 18px;
    white-space: nowrap;
    list-style-type: none;
    padding-right: .5em;
    border-radius: 4px;
}

.dropdown li:hover {
    background-color: #F3F3F3;
}

.dropdown a {
    text-decoration: none;
    border-bottom: none;
}

.profile {
    font-weight: 400;
}

.heading {
    font-family: "Handelson W00 Three", serif;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 380;
    max-width: 8em;
    color: #e600ff;
    padding-right: .5em;

    font-weight: 500;
    transition: background-color .2s, color .2s, box-shadow .2s;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.selected,
.heading:hover {
    color: #a300b5;
}


.profile:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    gap: .6em;
}


.verticalBreak {
    height: 2px;
    width: 6em;
    background-color: var(--light-gray);
    border-radius: 20%;
}

.input-focused,
.query:focus {
    border-color: var(--main-green-color) !important;
    position: fixed;
    width: 600px;
    margin: 0 auto;
    transform: translateX(50%);
    z-index: 10;
}

.mobile {
    display: none;
}

@media (max-width: 1224px) {

    .header {
        background-color: #d5ffcd;
        border-radius: .3em;
        margin-inline: 1em;
    }

    .header .logo {
        display: none;
    }

    .header .mobile {
        display: inline;
    }
    .wrapper {
        font-size: 18px;
        /* Adjust font size for smaller screens */
    }

    .header .nav {
        margin-left: 1em
    }

    .header .logo,
    .header .nav,
    .header .buttonWrapper,
    .header .query {
        flex: 1 0 auto;
        /* Make all elements full width on smaller screens */
    }


    .dropdown {
        display: flex;
        /* Show dropdown on smaller screens */
        flex-direction: column;
    }


    .buttonWrapper>* {
        transform: scale(1);
        /* Disable hover scale effect on mobile */
    }
    .input-focused,
    .query:focus {
        width: 90vw;
        transform: unset;
        z-index: 10;
    }
}

@media (max-width: 860px) {
    .header .ul li {
        font-size: 16px;
    }

    .wrapper {
        flex-direction: column;
        gap: .6em;
    }

    .header {
        margin-top: 1em;
        padding-bottom: 1em;
    }

    .nav {
        order: 2;
    }

    .query {
        order: 1;
        margin-top: 1em;
        width: 90%;
    }

    .header .buttonWrapper {
        display: none;
    }

    .header .query {
        margin-right: 1em;
    }
    .input-focused,
    .query:focus {
        width: 90vw;
        transform: unset;
        z-index: 10;
    }
}

@media (max-width: 540px) {
    .wrapper {
        flex-direction: column;
        gap: .6em;
        padding-top: .5em;
    }

    .nav {
        order: 2;
    }

    .query {
        order: 1;
        width: 90%;
    }

    .input-focused,
    .query:focus {
        width: 90vw;
        transform: unset;
        z-index: 10;
    }

    .header .ul li {
        font-size: 14px;
        /* Smaller font size for very small devices */
    }

    .header .logo {
        font-size: 28px;
        /* Smaller logo font size for very small devices */
    }
}